*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 2000px;
}
.bg-img{
    background-image: url(./img/bg\ new.webp); height: 500px;
    background-size: cover;
    height: 500px;
    align-items: center;

}
.btn_main{
width: 400px;
height: 200px;
}
.text {
    height:350px;
color: white;

}
.btn-view{
    color: white;
}
.card-cont{
    height: 200px;
    margin-top: 50px;
}

.blue-line{
    width: 100px;
    border-radius: 10px;
    height: 5px;
    background-color: blue;
}
.card-main-cont{
    margin-top: 100px;
}


.table-text{
  height: 250px;
  display: flex;
  flex-direction: column;
}

/* <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div> */
    /* </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div> */
/* .main__card img{
    height: 350px;

} */
/* .c-bott-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    height: 90px;
    
} */